.input-form {
	/* background-color: red; */
	width: 100%;
}

.input-textfield {
	width: 100%;
}

.search-result {
	border: 1px solid lightgrey;
	border-radius: 5px;
	padding: 10px 10px 10px 20px;
}

.nominations {
	border: 1px solid lightgrey;
	border-radius: 5px;
	padding: 10px 10px 10px 20px;
}
