.input-form {
	width: 100%;
}

.input-textfield {
	width: 100%;
}

.card-item {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.card-text {
	width: 80%;
}

.card-button {
	width: 20%;
}

.search-result {
	border: 1px solid lightgrey;
	border-radius: 5px;
	padding: 10px 10px 10px 20px;
}

.nominations {
	border: 1px solid lightgrey;
	border-radius: 5px;
	padding: 10px 10px 10px 20px;
}
